<!-- Static assets -->
{% load static %}

<!-- Message bar, see https://getbootstrap.com/docs/4.0/components/alerts/ -->
<div class="toast-message">
    <div class="row">
        <div class="col-xl-12">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                        <span class="alert-icon">
                            {% if message.tags == "success" %}
                                <i class="ni ni-like-2"></i>
                            {% endif %}
                        </span>
                        <span class="alert-text">{{ message }}</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<!-- End MEssage bar -->