<!-- Static assets -->
{% load static %}

  <!--   Core   -->
  <script src="{% static 'assets/js/plugins/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  {% comment %}
  <!--   Optional JS   -->
  <script src="{% static 'assets/js/plugins/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/chart.js/Chart.extension.js' %}"></script>
  <!--   G.Maps   -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

  <!--   Argon JS   -->
  <script src="{% static 'assets/js/argon-dashboard.min.js' %}"></script>
  {% endcomment %}