asgiref==3.9.1
Brotli==1.1.0
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
-e git+ssh://git@github.com/eraclesax/documanager.git@0a97d3f72b4bd6a3af3b6bb159a15fd31f57ede9#egg=cie_nis_python_sdk&subdirectory=cie-nis-python-sdk/pkg
crispy-bootstrap4==2025.6
cssselect2==0.8.0
Django==5.2.5
django-cors-headers==4.7.0
django-crispy-forms==2.4
django-debug-panel==0.8.3
django-debug-toolbar==6.0.0
django-ipware==7.0.1
django-rosetta==0.10.2
django-silk==5.4.1
djangorestframework==3.16.1
envparse==0.2.0
fontawesomefree==6.6.0
fonttools==4.59.1
gprof2dot==2025.4.14
gunicorn==23.0.0
idna==3.10
packaging==25.0
pango==0.0.1
pillow==11.3.0
polib==1.2.0
progressbar2==3.53.1
psycopg2-binary==2.9.10
pycparser==2.22
pyDes==2.0.1
pydyf==0.11.0
PyPDF2==3.0.1
pyphen==0.17.2
pyscard==2.0.0
python-dotenv==1.1.1
python-ipware==3.0.0
python-utils==3.9.1
pytz==2025.2
reportlab==4.4.3
requests==2.32.5
setuptools==80.9.0
six==1.15.0
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
typing_extensions==4.15.0
urllib3==2.5.0
weasyprint==66.0
webencodings==0.5.1
wheel==0.45.1
zopfli==0.2.3.post1
