<tr>
    <td class="innerpadding borderbottom" style="padding-top:30px;padding-bottom:30px;padding-right:30px;padding-left:30px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#f2eeed;" >
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
        <td class="h2" style="color:#153643;padding-top:0;padding-bottom:15px;padding-right:0;padding-left:0;font-size:24px;line-height:28px;font-weight:bold;" >
            Stai ricevendo questa email perché è stato creato un nuovo utente relativo a questo indirizzo email nell'applicativo https://archetti.click/.
        </td>
        </tr>
        <tr>
        <td class="bodycopy" style="color:#153643;font-size:16px;line-height:22px;" >
            <br>
                Per completare la registrazione clicca su questo link e imposta una password per il tuo account:
            <br>
            <a href="https://archettidev.click/{% url 'password_reset_confirm' uidb64=uid token=token %}">https://archettidev.click/{% url 'password_reset_confirm' uidb64=uid token=token %}</a>
            <br>
            <br>
            Il tuo username è <b>{{ user.get_username }}</b>
        </td>
        </tr>
    </table>
    </td>
</tr>
<tr><td></td></tr>