{% load i18n static cms_tags tags %}
{% mail_header uuid=uuid %}

<tr>
    <td class="innerpadding borderbottom" style="padding-top:30px;padding-bottom:30px;padding-right:30px;padding-left:30px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#f2eeed;" >
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td class="h2" style="color:#153643;padding-top:0;padding-bottom:15px;padding-right:0;padding-left:0;font-size:24px;line-height:28px;font-weight:bold;" >
                Stai ricevendo questa email perché è stato richiesto il reset della password per l'utente <b>{{ user.get_username }}</b>.
            </td>
        </tr>
        <tr>
            <td class="bodycopy" style="color:#153643;font-size:16px;line-height:22px;" >
                <br>
                Per completare il reset clicca sul pulsante Reset Password e imposta una password per il tuo account:
                <br>
                {% block reset_link %}
                <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" class="btn btn-info" role="button">Reset Password</a>
                {% endblock %}
                <br>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                Se non hai richiesto tu il reset della password, per favore ignora questa richiesta o 
                rispondi a questa email per chiedere ulteriori informazioni.
            </td>
        </tr>
        <tr>
            <td>
                Cordialmente,
                Il team di {{ site_name }}
            </td>
        </tr>
    </table>
    </td>
</tr>
<tr>
    <td>
    </td>
</tr>

{% mail_footer uuid=uuid %}









    


