{% extends 'layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Scheda Defunto {% endblock title %}

{% block stylesheets %}
  <style>
    .blinking {
      animation: blink 1s ease-in infinite;
    }

    @keyframes blink {
      from, to { opacity: 1 }
      50% { opacity: 0 }
    }
  </style>
{% endblock stylesheets %}

{% block content %}

<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">{{ defunto }}</h3>
            </div>
          </div>
          <div class="card-header border-0 d-flex align-items-center">
            <!-- Gruppo sinistro -->
            <div>
              <!-- Scarica PDF -->
              <a href="{% url 'defunto_docs' defunto.id %}" class="btn btn-success btn-sm" title="Modifica">
                Documenti
              </a>
            </div>

            <!-- Gruppo destro -->
            <div class="ml-auto">
              <!-- Modifica -->
              <a href="{% url 'defunto_edit' id=defunto.id %}" class="btn btn-warning btn-sm" title="Modifica">
                Modifica
              </a>

              <!-- Bottone che apre il modal -->
              <button type="button" class="btn btn-danger btn-sm" title="Elimina"
                      data-toggle="modal" data-target="#deleteModal{{ defunto.id }}">
                Elimina
              </button>
            </div>
          </div>
          <!-- Modal di conferma eliminazione -->
          <div class="modal fade" id="deleteModal{{ defunto.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ defunto.id }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">

                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel{{ defunto.id }}">Conferma Eliminazione</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Chiudi">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  Sei sicuro di voler eliminare l’anagrafica di <strong>{{ defunto }}</strong>?
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>

                  <!-- Form di eliminazione -->
                  <form method="post" action="{% url 'defunto_delete' defunto.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Elimina</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- END Modal di conferma eliminazione -->
        </div>
        <div class="card-body">

          {% for category, fields in defunto_fields.items %}
              <h3 class="border-bottom">{{ category }}</h3>
              <dl class="row">
                {% for field in fields %}
                    <dt class="col-sm-3 col-md-2">{{ field.verbose_name }}</dt>
                    <dd class="col-sm-9 col-md-4">{{ field.value|default_if_none:"" }}</dd>
                {% endfor %}
              </dl>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}
</div>

{% endblock content %}


<!-- Specific JS goes HERE --> 
{% block javascripts %}
  <script>

    $(document).ready(function () {
      // Responsive update_active_responsive_table
      update_active_responsive_table('{{accesses_table|safe}}');
    });

    function build_active_responsive_table(){
      $('#data_table').DataTable({
          // "responsive": true,
          "destroy": true,
          "paging":   true,
          "pageLength" : 20,
          // "aaSorting": [[0,"asc"],[3,"des"]], //already sorted in backend
          "lengthChange": false,
          "autoWidth": false,
          "language": {
            "sEmptyTable":     "Nessun dato presente nella tabella",
            "sInfo":           "Vista da _START_ a _END_ di _TOTAL_ elementi",
            "sInfoEmpty":      "Vista da 0 a 0 di 0 elementi",
            "sInfoFiltered":   "(filtrati da _MAX_ elementi totali)",
            "sInfoPostFix":    "",
            "sInfoThousands":  ".",
            "sLengthMenu":     "Visualizza _MENU_ elementi",
            "sLoadingRecords": "Caricamento...",
            "sProcessing":     "Elaborazione...",
            "sSearch":         "Cerca:",
            "sZeroRecords":    "La ricerca non ha portato alcun risultato.",
            "oPaginate": {
              "sFirst":      "Inizio",
              "sPrevious":   "Precedente",
              "sNext":       "Successivo",
              "sLast":       "Fine"
            },
            "oAria": {
              "sSortAscending":  ": attiva per ordinare la colonna in ordine crescente",
              "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
            }
          },
        });
    }

    function update_active_responsive_table(table){
      $("#id_table_container").empty()
      $("#id_table_container").append(table);
      build_active_responsive_table();
    }

  </script>
{% endblock javascripts %}
