{% extends BASE_TEMPLATE %}
{% load static %}
{% block stylesheets %}{% endblock stylesheets %}
{% load crispy_forms_tags %}

{% block title %}Scheda Defunto{% endblock title %}

{% block content %}

  <!-- Header -->
  <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">

      </div>
    </div>
  </div>

  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                {% if form.instance %}
                  <h3>Modifica Scheda Defunto "{{form.instance}}"</h3>
                  <p class="mb-0">I campi contrassegnati con <b>*</b> sono obbligatori</p>
                {% else %}
                  <h3 class="mb-0">Crea nuova Scheda Defunto</h3>
                {% endif %}
              </div>
              <div class="col-4 text-right">
                <input form="data-form" type="submit" class="btn btn-md btn-primary" value="Salva">
              </div>
            </div>
          </div>
          <div class="card-body">
            <form id="data-form" name="data-form" method='post' enctype="multipart/form-data">
              {% crispy form %}
            </form>
            <div class="row align-items-center">
              <div class="col-8">
              </div>
              <div class="col-4 text-right">
                <input form="data-form" type="submit" class="btn btn-md btn-primary" value="Salva">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
  // Questa funzione è inserita nei campi direttamente in forms.py
  // Oscura i campi nome coniuge e cognome coniuge se stato civile è "celibe/nubile"
  function toggleConiugeFields(value) {
      const cognome = document.getElementById("id_cognome_coniuge");
      const nome = document.getElementById("id_nome_coniuge");
      const cognomeDiv = document.getElementById("div_id_cognome_coniuge");
      const nomeDiv = document.getElementById("div_id_nome_coniuge");

      if (value === "2" || value === "3" || value === "4") {  // Coniugato / unito civilmente o altro
          cognomeDiv.style.display = "";
          nomeDiv.style.display = "";
      } else {
          cognomeDiv.style.display = "none";
          nomeDiv.style.display = "none";
          cognome.value = "";
          nome.value = "";
      }
  }
  // Inizializza i campi oscurati
  document.addEventListener("DOMContentLoaded", function() {
      const statoCivile = document.getElementById("id_stato_civile");
      toggleConiugeFields(statoCivile.value);
  });

// Questa funzione semplifica la compilazione riempiendo i campi successivi in maniera statisticamente valida
document.addEventListener("DOMContentLoaded", function () {
  const comune_residenza = document.getElementById("id_comune_residenza");
  
  const comune_decesso = document.getElementById("id_comune_decesso");
  const comune_salma = document.getElementById("id_comune_salma");
  const comune_chiesa = document.getElementById("id_comune_chiesa");
  const comune_inumazione = document.getElementById("id_comune_inumazione");

  comune_residenza.addEventListener("blur", function () {
    if (comune_decesso.value.trim() === "" && comune_residenza.value.trim() !== "") {
      comune_decesso.value = comune_residenza.value.trim().toUpperCase(); // copia e mette in maiuscolo
    }
    if (comune_salma.value.trim() === "" && comune_residenza.value.trim() !== "") {
      comune_salma.value = comune_residenza.value.trim().toUpperCase(); // copia e mette in maiuscolo
    }
    if (comune_chiesa.value.trim() === "" && comune_residenza.value.trim() !== "") {
      comune_chiesa.value = comune_residenza.value.trim().toUpperCase(); // copia e mette in maiuscolo
    }
    if (comune_inumazione.value.trim() === "" && comune_residenza.value.trim() !== "") {
      comune_inumazione.value = comune_residenza.value.trim().toUpperCase(); // copia e mette in maiuscolo
    }
  });

  const provincia_residenza = document.getElementById("id_provincia_residenza");
  
  const provincia_decesso = document.getElementById("id_provincia_decesso");
  const provincia_salma = document.getElementById("id_provincia_salma");
  const provincia_chiesa = document.getElementById("id_provincia_chiesa");
  const provincia_inumazione = document.getElementById("id_provincia_inumazione");

  provincia_residenza.addEventListener("blur", function () {
    if (provincia_decesso.value.trim() === "" && provincia_residenza.value.trim() !== "") {
      provincia_decesso.value = provincia_residenza.value.trim().toUpperCase(); // copia e mette in maiuscolo
    }
    if (provincia_salma.value.trim() === "" && provincia_residenza.value.trim() !== "") {
      provincia_salma.value = provincia_residenza.value.trim().toUpperCase(); // copia e mette in maiuscolo
    }
    if (provincia_chiesa.value.trim() === "" && provincia_residenza.value.trim() !== "") {
      provincia_chiesa.value = provincia_residenza.value.trim().toUpperCase(); // copia e mette in maiuscolo
    }
    if (provincia_inumazione.value.trim() === "" && provincia_residenza.value.trim() !== "") {
      provincia_inumazione.value = provincia_residenza.value.trim().toUpperCase(); // copia e mette in maiuscolo
    }
  });
});
</script>
{% endblock javascripts %}
